### Summary
**This data approaches student achievement in
secondary education of two portuguese schools. The Data
attributes include student grades, demographic,social and
school and it was collected by using school reports and 
questionnaires. Two datasets are provided regrading the 
performance in two distinct subjects: mathematics(mat) and 
protuguese language(por)**

* **Things to do in this projects**
    * Perform data exploration using statistics 
    * load the dataset into dataframe
    * explore the datatypes of each columns in the dataset
    * explore the range of values for numeric values and distinct values for categorical values 
    * explore the distribution of each columns 
    * explore the relationship between columns and correlation matrix
    * rank all the features that would determine the overall grade

* **Attribute Information:**

    * #### Attributes for both student-mat.csv (Math course) and student-por.csv (Portuguese language course) datasets:
    * 1 school - student's school (binary: 'GP' - Gabriel Pereira or 'MS' - Mousinho da Silveira)
    * 2 sex - student's sex (binary: 'F' - female or 'M' - male)
    * 3 age - student's age (numeric: from 15 to 22)
    * 4 address - student's home address type (binary: 'U' - urban or 'R' - rural)
    * 5 famsize - family size (binary: 'LE3' - less or equal to 3 or 'GT3' - greater than 3)
    * 6 Pstatus - parent's cohabitation status (binary: 'T' - living together or 'A' - apart)
    * 7 Medu - mother's education (numeric: 0 - none, 1 - primary education (4th grade), 2 â€“ 5th to 9th grade, 3 â€“ secondary education or 4 â€“ higher education)
    * 8 Fedu - father's education (numeric: 0 - none, 1 - primary education (4th grade), 2 â€“ 5th to 9th grade, 3 â€“ secondary education or 4 â€“ higher education)
    * 9 Mjob - mother's job (nominal: 'teacher', 'health' care related, civil 'services' (e.g. administrative or police), 'at_home' or 'other')
    * 10 Fjob - father's job (nominal: 'teacher', 'health' care related, civil 'services' (e.g. administrative or police), 'at_home' or 'other')
    * 11 reason - reason to choose this school (nominal: close to 'home', school 'reputation', 'course' preference or 'other')
    * 12 guardian - student's guardian (nominal: 'mother', 'father' or 'other')
    * 13 traveltime - home to school travel time (numeric: 1 - <15 min., 2 - 15 to 30 min., 3 - 30 min. to 1 hour, or 4 - >1 hour)
    * 14 studytime - weekly study time (numeric: 1 - <2 hours, 2 - 2 to 5 hours, 3 - 5 to 10 hours, or 4 - >10 hours)
    * 15 failures - number of past class failures (numeric: n if 1<=n<3, else 4)
    * 16 schoolsup - extra educational support (binary: yes or no)
    * 17 famsup - family educational support (binary: yes or no)
    * 18 paid - extra paid classes within the course subject (Math or Portuguese) (binary: yes or no)
    * 19 activities - extra-curricular activities (binary: yes or no)
    * 20 nursery - attended nursery school (binary: yes or no)
    * 21 higher - wants to take higher education (binary: yes or no)
    * 22 internet - Internet access at home (binary: yes or no)
    * 23 romantic - with a romantic relationship (binary: yes or no)
    * 24 famrel - quality of family relationships (numeric: from 1 - very bad to 5 - excellent)
    * 25 freetime - free time after school (numeric: from 1 - very low to 5 - very high)
    * 26 goout - going out with friends (numeric: from 1 - very low to 5 - very high)
    * 27 Dalc - workday alcohol consumption (numeric: from 1 - very low to 5 - very high)
    * 28 Walc - weekend alcohol consumption (numeric: from 1 - very low to 5 - very high)
    * 29 health - current health status (numeric: from 1 - very bad to 5 - very good)
    * 30 absences - number of school absences (numeric: from 0 to 93)

    * #### these grades are related with the course subject, Math or Portuguese:
    * 31 G1 - first period grade (numeric: from 0 to 20)
    * 31 G2 - second period grade (numeric: from 0 to 20)
    * 32 G3 - final grade (numeric: from 0 to 20, output target)

## Importing the required libraries

In [4]:
import pandas as pd 
import numpy as np 
import seaborn as sns

## Loading the datasets
#### student portuguese dataset

In [10]:
df_por = pd.read_csv('student/student-por.csv',sep = ';')
df_por

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
644,MS,F,19,R,GT3,T,2,3,services,other,...,5,4,2,1,2,5,4,10,11,10
645,MS,F,18,U,LE3,T,3,1,teacher,services,...,4,3,4,1,1,1,4,15,15,16
646,MS,F,18,U,GT3,T,1,1,other,other,...,1,1,1,1,1,5,6,11,12,9
647,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,6,10,10,10
648,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,4,10,11,11

#### student mathematics datasets

In [13]:
df_mat = pd.read_csv('student/student-mat.csv',sep = ';')
df_mat

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

### Combining the datasets of portuguese and mathematics 
#### load the dataset into dataframe

In [32]:
df_mat['type'] = 'mat'
df_por['type'] = 'por'
df = pd.concat([df_por,df_mat])

In [35]:
df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,type
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,3,4,1,1,3,4,0,11,11,por
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,3,3,1,1,3,2,9,11,11,por
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,3,2,2,3,3,6,12,13,12,por
3,GP,F,15,U,GT3,T,4,2,health,services,...,2,2,1,1,5,0,14,14,14,por
4,GP,F,16,U,GT3,T,3,3,other,other,...,3,2,1,2,5,0,11,13,13,por
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,4,4,5,4,11,9,9,9,mat
391,MS,M,17,U,LE3,T,3,1,services,services,...,4,5,3,4,2,3,14,16,16,mat
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,3,3,3,3,3,10,8,7,mat
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,1,3,4,5,0,11,12,10,mat
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,2,3,3,3,5,5,8,9,9,mat

### Perform data exploration using statistics

#### describing the dataset

In [36]:
df.describe()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
count,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000
mean,16.726054,2.603448,2.387931,1.522989,1.970307,0.264368,3.935824,3.201149,3.156130,1.494253,2.284483,3.543103,4.434866,11.213602,11.246169,11.341954
std,1.239975,1.124907,1.099938,0.731727,0.834353,0.656142,0.933401,1.031507,1.152575,0.911714,1.285105,1.424703,6.210017,2.983394,3.285071,3.864796
min,15.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,16.000000,2.000000,1.000000,1.000000,1.000000,0.000000,4.000000,3.000000,2.000000,1.000000,1.000000,3.000000,0.000000,9.000000,9.000000,10.000000
50%,17.000000,3.000000,2.000000,1.000000,2.000000,0.000000,4.000000,3.000000,3.000000,1.000000,2.000000,4.000000,2.000000,11.000000,11.000000,11.000000
75%,18.000000,4.000000,3.000000,2.000000,2.000000,0.000000,5.000000,4.000000,4.000000,2.000000,3.000000,5.000000,6.000000,13.000000,13.000000,14.000000
max,22.000000,4.000000,4.000000,4.000000,4.000000,3.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,75.000000,19.000000,19.000000,20.000000

#### explore the datatypes of each columns in the dataset

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1044 entries, 0 to 394
Data columns (total 34 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      1044 non-null   object
 1   sex         1044 non-null   object
 2   age         1044 non-null   int64
 3   address     1044 non-null   object
 4   famsize     1044 non-null   object
 5   Pstatus     1044 non-null   object
 6   Medu        1044 non-null   int64
 7   Fedu        1044 non-null   int64
 8   Mjob        1044 non-null   object
 9   Fjob        1044 non-null   object
 10  reason      1044 non-null   object
 11  guardian    1044 non-null   object
 12  traveltime  1044 non-null   int64
 13  studytime   1044 non-null   int64
 14  failures    1044 non-null   int64
 15  schoolsup   1044 non-null   object
 16  famsup      1044 non-null   object
 17  paid        1044 non-null   object
 18  activities  1044 non-null   object
 19  nursery     1044 non-null   object
 20  higher      1044 non-null   object
 21  internet    1044 non-null   object
 22  romantic    1044 non-null   object
 23  famrel      1044 non-null   int64
 24  freetime    1044 non-null   int64
 25  goout       1044 non-null   int64
 26  Dalc        1044 non-null   int64
 27  Walc        1044 non-null   int64
 28  health      1044 non-null   int64
 29  absences    1044 non-null   int64
 30  G1          1044 non-null   int64
 31  G2          1044 non-null   int64
 32  G3          1044 non-null   int64
 33  type        1044 non-null   object
dtypes: int64(16), object(18)
memory usage: 285.5+ KB

#### Checking the null values

In [38]:
df.isnull().sum()

school        0
sex           0
age           0
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      0
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
G1            0
G2            0
G3            0
type          0
dtype: int64

#### Explore the range of values for numeric values and distinct values for categorical values

#### Explore the distribution of each columns

#### Explore the distribution of each columns

#### Explore the relationship between columns and correlation matrix

In [40]:
abs(df.corr())

/tmp/ipykernel_15317/4095419102.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  abs(df.corr())

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
age,1.000000,0.130196,0.138521,0.049216,0.007870,0.282364,0.007162,0.002645,0.118510,0.133453,0.098291,0.029129,0.153196,0.124121,0.119475,0.125282
Medu,0.130196,1.000000,0.642063,0.238181,0.090616,0.187769,0.015004,0.001054,0.025614,0.001515,0.029331,0.013254,0.059708,0.226101,0.224662,0.201472
Fedu,0.138521,0.642063,1.000000,0.196328,0.033458,0.191390,0.013066,0.002142,0.030075,0.000165,0.019524,0.034288,0.040829,0.195898,0.182634,0.159796
traveltime,0.049216,0.238181,0.196328,1.000000,0.081328,0.087177,0.012578,0.007403,0.049740,0.109423,0.084292,0.029002,0.022669,0.121053,0.140163,0.102627
studytime,0.007870,0.090616,0.033458,0.081328,1.000000,0.152024,0.012324,0.094429,0.072941,0.159665,0.229073,0.063044,0.075594,0.211314,0.183167,0.161629
failures,0.282364,0.187769,0.191390,0.087177,0.152024,1.000000,0.053676,0.102679,0.074683,0.116336,0.107432,0.048311,0.099998,0.374175,0.377172,0.383145
famrel,0.007162,0.015004,0.013066,0.012578,0.012324,0.053676,1.000000,0.136901,0.080619,0.076483,0.100663,0.104101,0.062171,0.036947,0.042054,0.054461
freetime,0.002645,0.001054,0.002142,0.007403,0.094429,0.102679,0.136901,1.000000,0.323556,0.144979,0.130377,0.081517,0.032079,0.051985,0.068952,0.064890
goout,0.118510,0.025614,0.030075,0.049740,0.072941,0.074683,0.080619,0.323556,1.000000,0.253135,0.399794,0.013736,0.056142,0.101163,0.108411,0.097877
Dalc,0.133453,0.001515,0.000165,0.109423,0.159665,0.116336,0.076483,0.144979,0.253135,1.000000,0.627814,0.065515,0.132867,0.150943,0.131576,0.129642
Walc,0.098291,0.029331,0.019524,0.084292,0.229073,0.107432,0.100663,0.130377,0.399794,0.627814,1.000000,0.106669,0.139703,0.142401,0.128114,0.115740
health,0.029129,0.013254,0.034288,0.029002,0.063044,0.048311,0.104101,0.081517,0.013736,0.065515,0.106669,1.000000,0.027479,0.060478,0.088001,0.080079
absences,0.153196,0.059708,0.040829,0.022669,0.075594,0.099998,0.062171,0.032079,0.056142,0.132867,0.139703,0.027479,1.000000,0.092425,0.089332,0.045671
G1,0.124121,0.226101,0.195898,0.121053,0.211314,0.374175,0.036947,0.051985,0.101163,0.150943,0.142401,0.060478,0.092425,1.000000,0.858739,0.809142
G2,0.119475,0.224662,0.182634,0.140163,0.183167,0.377172,0.042054,0.068952,0.108411,0.131576,0.128114,0.088001,0.089332,0.858739,1.000000,0.910743
G3,0.125282,0.201472,0.159796,0.102627,0.161629,0.383145,0.054461,0.064890,0.097877,0.129642,0.115740,0.080079,0.045671,0.809142,0.910743,1.000000

#### Rank all the features that would determine the overall grade